body{
    font-style: 'Helvetica Neue', 'Arial', 'sans serif';
    background-color:#C5DEE3;
}

.main{
    padding:20px;
    -webkit-perspective:800px;
}

h1{
	margin-bottom:0;
}

.main-canvas{
    
}

.protractor-tool{
	display:block;
	box-shadow: 0px 0px 30px #85A6AB;
	width:200px;
	height:200px;
	border-radius: 200px;
	position:absolute;
	top:150px;
	left:320px;
	opacity:.5;
	-webkit-transition:-webkit-transform .5s;
	-webkit-transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.protractor-canvas{
	position:absolute;
	top:0;
	left:0;
	opacity:.8;
	pointer-events:none;
}

.protractor-tool-inner{
	width:200px;
	height:200px;
	border-radius: 200px;
	background-color:#AEDDEB;
	border:1px solid #6e8a9e;
	box-shadow: inset 0px 0px 7px #fff;
	cursor:move;
}

.protractor-tool-inner .number{
	font-size:45px;
	line-height: 140px;
	text-align:center;
	display:block;
	width:140px;
	height:140px;
	margin:28px;
	border-radius: 100px;
	border:1px solid #6e8a9e;
	background-color:#E8F8FA;
	box-shadow: 0px 0px 30px #fff;
}

.protractor-tool-inner:before{
	width:1px;
	height:25px;
	display:inline-block;
	position:absolute;
	bottom:0px;
	left:99px;
	border-right:1px solid #5e5e5e;
	content:'';
	padding:0;
}

.menu{
	background-color:#E8F8FA;
	display:block;
	opacity:.5;
}

.menu:hover{
	opacity:1;
}

.menu label{
	font-size:14px;
	width:100%;
	text-align: center;
}

.set-rotation{
	position:absolute;
	top:300px;
	left:80px;
	padding:5px;
	display:inline-block;
}

.set-rotation input{
	width:45px;
}

.set-rotation select{
	width:100%;
	margin-top:5px;
}

.set-rotation label{
	display:inline-block;
	width:40px;
}

.protractor-options{
	position:absolute;
	top:120px;
	left:80px;
	cursor:pointer;
	padding:10px;
}

.protractor-options ul{
	padding:0;
	margin:0;
	float:left;
	margin-left:10px;
}

.protractor-options li{
	list-style-type:none;
	padding:4px 10px;
	border-radius:3px;
}

.protractor-options li:hover{
	background-color:#C7EDF2; 
}

.protractor-options li.selected{
	background-color:#0F3A4F;
	color:#fff;
}

.protractor-options img{
	float:left;
}

.protractor-slider-knob{
	box-sizing:border-box;
	width: 30px;
	height: 30px;
	border-radius:50%;
	position: absolute;
	top: -13px;
	margin-left:0px;
	z-index: 200;
	cursor:pointer;
	border: 1px solid #6e8a9e;
	box-shadow: inset 0px 0px 7px #fff;
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f4f4 20%, #74b7cc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#f4f4f4), color-stop(100%,#74b7cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4 20%,#74b7cc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f4f4 20%,#74b7cc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f4f4 20%,#74b7cc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f4f4 20%,#74b7cc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#74b7cc',GradientType=0 ); /* IE6-9 */
}

.protractor-slider{
	box-sizing:border-box;
	position: absolute;
	width:500px;
	top: 450px;
	left:-90px;
	width: 392px;
	height: 4px;
	text-align: center;
	margin: 0 314px;
	background-color:#bbb;
	border-top:1px solid #555;
	border-left:1px solid #555;
	border-right:1px solid #555;
	border-bottom:1px solid #fff;
	border-radius:2px;
}

.menu input, .protractor-slider input{
	border:1px solid #ccc;
	padding:5px;
	border-radius:3px;
}

.protractor-angle{
	margin-top:20px;
}
